* 
  transition: 0.5s
  margin: 0
  padding: 0
  font-family: "Renner*" 
  box-sizing: border-box
  outline: none
  color: $text

html, body 
  height: 100%

.wrap 
  width: 1170px
  margin: auto
  height: 100%

@media (max-width: 1250px)
  .wrap 
    width: 1024px

@media (max-width: 1140px)
  .wrap 
    width: 900px

@media (max-width: 960px)
  html, body 
    height: max-content
  
  .wrap 
    width: 768px

@media (max-width: 800px)
  .swiper
    &-wrapper 
      height: max-content !important
      width: max-content !important
    &-container
      height: max-content !important
      overflow: auto !important
      display: block !important
  .wrap 
    width: 600px

@media (max-width: 660px)
  .wrap 
    width: 525px

@media (max-width: 570px)
  .wrap 
    width: 80%

body 
  position: relative
html 
  position: relative
.arrow
  display: flex

  position: absolute
  top: calc(100% - 50px)
  left: 0
  flex-basis: 100%
  height: max-content
  width: 300px
  cursor: pointer
  z-index: 5
  // padding-left: 10px
  .prev 
    transform: rotate(180deg) translateY(-1px)
  svg 
    width: 150px

@media  ( min-width: 992px )
  .prev:hover 
    .prev-line 
      transform: translateX(6px)
    .prev-arrow 
      transform: translateX(12px)

  .next:hover 
      .next
        svg 
          width: 100px
  
        &-line 
          transform: translateX(6px)
        &-arrow 
          transform: translateX(12px)

@media (max-width: 800px)
  .arrow
    display: none


.container
  display: flex
  justify-content: space-between
  // align-items: center
.section 
  .wrap
    .container 
      display: flex 
      // align-items: center 
      padding-top: 15vh
      position: relative

@media ( max-width: 800px )
  .section 
    .wrap
      .container 
        display: flex 
        // align-items: center 
        padding-top: 0
        position: relative
a 
  text-decoration: none

.btn 
  padding: 15px 45px
  background-color: $primary
  color: #fff
  display: flex
  align-items: center 
  justify-content: center
  cursor: pointer
  font-size: 18px

@media ( max-width: 570px )
  .btn 
    padding: 10px 30px
    font-size: 14px

@media ( max-width: 425px )
  .btn 
    padding: 10px 20px
    font-size: 14px

@media ( min-width: 992px  )
  .btn:hover 
    background-color: darken($primary, 5% )


.section 
  .container
    align-items: flex-start
    height: 100%

  &-title 
    font-size: 32px
    margin-bottom: 15vh
    font-weight: 400

@media  ( max-height: 900px )
  .section 
    .container
      align-items: flex-start
      height: 100%

    &-title 
      font-size: 32px
      margin-bottom: 10vh
      font-weight: 400

@media ( max-width: 900px )
  .section 
    // padding-top: 70px !important

    .container
      align-items: flex-start
      // height: max-content

    &-title 
      font-size: 28px
      margin-bottom: 35px
      margin-top: 20px    

@media ( max-width: 800px )
  .section 
    // padding-top: 70px !important

    .container
      align-items: flex-start
      height: max-content
      padding-bottom: 50px

@media ( max-width: 660px )
  .section 
    padding-top: 50px !important
    &-title 
      margin-bottom: 35px
      margin-top: 20px 
      font-size: 26px 
    .container
      padding-bottom: 0
  


